---
layout: default
title: 'Blog'
permalink: blog
---

<div class="blog-listing">
  <div class="blog-header">
    <h1 class="display-4">Blog</h1>
    <p class="lead">Thoughts on design, development, and building better experience</p>
  </div>

  <div class="blog-posts">
    {% for post in site.posts %}
    <article class="blog-card">
      <a href="{{ post.url }}" class="blog-card-link">
        {% if post.image %}
        <div class="blog-card-image">
          <img
            src="assets/image/{{ post.image }}"
            alt="{{ post.title }}"
          />
        </div>
        {% endif %}
        <div class="blog-card-content">
          <h2 class="blog-card-title">{{ post.title }}</h2>
          <p class="blog-card-excerpt">{{ post.description }}</p>
          <div class="blog-card-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
            <span class="blog-card-readmore">Read more →</span>
          </div>
        </div>
      </a>
    </article>
    {% endfor %}
  </div>
</div>
