<!-- Schema.org BlogPosting JSON-LD -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "image": "{{ site.url }}{{ page.image }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "{{ page.author | default: site.author }}",
    "url": "{{ site.url }}",
    "jobTitle": "Product Design Specialist",
    "sameAs": [
      "https://www.facebook.com/apirak",
      "https://www.linkedin.com/in/apirak",
      "https://twitter.com/{{ site.twitter_username }}",
      "https://github.com/{{ site.github_username }}"
    ]
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo }}"
    }
  },
  "description": "{{ page.description | default: page.excerpt | strip_html | truncate: 160 }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "keywords": "UX Design, Product Design, Agile UX, UX Designer Thailand, {{ page.title }}",
  "articleSection": "UX Design",
  "inLanguage": "th-TH"
}
</script>
