@import "bootstrap/bootstrap";
@import "icon-font";

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$base-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);


html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

a, .nav-link, .link-dark {
  text-decoration: none;
  @extend .link-dark;

  &:hover {
    color: #0d6efd;
    .material-icons {
      color: #0d6efd;
    }
  }
}

.link-secondary {
  font-weight: bold;
  color: #000000;
}

a.link-secondary {
  &:hover {
    color: #000000;
  }
}

footer {
  color: rgb(97, 97, 97);
  height: 72px;
}

.profile-page {
  height:90%; 
  display:flex;
  align-items: center;
}

.profile-box {
  border-radius: 16px;
  overflow: hidden;
  width: 320px;
  box-shadow: $base-shadow;
  
  @include media-breakpoint-up(md){
    width: auto;
    .profile-info {
      padding-left: 32px;
      padding-right: 32px;
      align-items: flex-start;
      img {
        width: 300px;
        height: 82px;
      }
      p {
        text-align: left;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}

.profile-image {
  background-image: url(../image/apirak@2x.jpg);
  background-position: center top;
  background-size: 320px 337px;
  width: 320px;
  height: 320px;
}

.profile-info {
  padding: 16px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;

  p {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #212529;
    text-align: center;
  }

  img {
    width: 254px;
    height: 70px;
    margin-left: -6px;
  }
}

.contact-box {
  a {
    text-decoration: none;
    padding-left: 2px;
  }
}

.material-icons, .material-icons-outlined {
  font-size: 1rem;
  vertical-align:middle;
  padding-bottom: 2px;
}

.material-icons {
  @extend .link-dark;
}

.portfolio{
  height: 100%;
}

.card {
  margin-bottom: 32px;
  width: 320px;
  height: 432px;
  border-radius: 16px;
  overflow: hidden;
  border: 0px;
  box-shadow: $base-shadow;

  H5 {
    a {
      &:hover {
        color: #000000;
      }
    }
  }
}

.card:not(:last-child) {
  margin-right: 32px;
}

.card-body {
  flex-direction: column;
  border-top: 1px solid #eee;
}

.post-header {
  text-align:center;
  margin-top: 32px;
}

.post-content {
  max-width: 680px;
  padding: 0 15px;

  p {
    margin-top: 32px;
  }

  h1 {
    margin-top: 32px;
  }
}