---
layout: default
---

<article class="blog-post">
  <header class="blog-post-header">
    <h1 class="blog-post-title">{{ page.title }}</h1>
    <div class="blog-post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      {% if page.author %}
      <span class="blog-post-author">by {{ page.author }}</span>
      {% endif %}
    </div>
  </header>
  
  {% if page.image %}
  <div class="blog-post-featured-image">
    <img src="{{ page.image }}" alt="{{ page.title }}">
  </div>
  {% endif %}

  <div class="blog-post-content">
    {{ content }}
  </div>
  {%- if page.id -%}
  <!--Every article has a id, but special pages don't unless you set manually.
  This prevents Cusdis from appear everywhere-->
  <div id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="4c466483-f554-485a-96a3-ef13dc168f20"
    data-page-id="{{ page.id }}"
    data-page-url="{{ site.url }}{{ page.baseurl }}{{ page.url }}"
    data-page-title="{{ page.title }}"
  ></div>
  <script defer src="https://cusdis.com/js/cusdis.es.js"></script>
  {%- endif -%}
</article>
